#!/usr/bin/env xdg-open
[Desktop Entry]
Name=PacMan
Comment=Web-based package manager
TryExec=/opt/pacman/start.sh
Exec=/opt/pacman/start.sh
Icon=/opt/pacman/res/img/icon.png
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;
NotShowIn=KDE;
Keywords=Package;Manager;Pac;Man;Activity;Program;Programs;Installed;Updates;Update
StartupWMClass=PacMan
